.App {
  text-align: center;
  background-color: #43474e;
  min-height: 100vh;
}

.App-logo {
  display: flex;
}

.Image-logo {
  width: inherit;
  height: 70px;
}

.App-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 50vw;
}

.App-info {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  min-width: 50vw;
}

.Info-container {
  font-size: 14px;
  padding: 0 1rem;
  text-align: left;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link > a:active{
  color: #e4e4e4;
  background-color: rgba(20, 0, 90,.4);
  text-decoration: none;
}
.App-link > a:hover{
  text-shadow: 0px 0px 4px #AAA;
}
.App-link > a{
  color: #e4e4e4;
  padding: 0.5rem;
  border-radius: 12px;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
